category_encoders
evidently
# jupyter # Removed unless absolutely required for deployment
matplotlib
numpy>=1.26.0
pandas
pyarrow
python-box
requests
streamlit
pyyaml>=5.4
scikit-learn
scipy
seaborn
altair
joblib # Added back from your previous list, assuming it's needed
